.container {
    /*border: 1px solid firebrick;*/
    flex: 1;
}

.container form{
    margin: 15px;
    padding: 30px 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.formControl {
    margin-bottom: 18px;
}

.formControl label {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
}

.formControl input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: #cecccc;
    font-size: 17px;
    color: var(--dark-gray);
    border: none;
    border-radius: 5px;
}

.formSwitch {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 10px;
}

.formSwitch label {
    font-size: 18px;
    font-weight: 400;
}

.button {
    width: 100%;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: var(--color-secondary);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #145f8b;
}

@media screen and (max-width: 992px) {
    .container form {
        margin-top: 50px;
        width: 300px;
        padding: 30px;
    }
}