.main {
    border: 2px solid darkgoldenrod;
    max-width: 1400px;
    min-height: calc(100vh - 150px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1366px) {
    .main {
        width: 850px;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    .main {
        width: 500px;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 400px;
    }
}

@media screen and (max-width: 576px) {
    .main {
        width: 350px;
        min-height: calc(100vh - 200px);
        margin-top: 40px;
    }
}