.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h4 {
    font-weight: 300;
}
